<% if(locals.mess){ %>
<div class="alert alert-success alert-dismissible text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> <%= mess %> </strong>
</div>
<% } %>
<div class="d-flex justify-content-between">
    <button class="h3 btn-dark btn-lg btn-block text-uppercase">
        Thêm phòng ban
    </button>
</div>

<div class="container mt-3" id="form-addDepartment">
    <form action="/dept/add" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Tên phòng ban:</label>
            <input
                type="name"
                class="form-control"
                id="name"
                placeholder="Nhập tên"
                name="name"
                required
            />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Nhập email"
                name="email"
                required
            />
        </div>

        <div class="form-group">
            <label for="picture">Hình ảnh:</label>
            <input
                type="file"
                name="picture"
                class="form-control-file border"
            />
        </div>
        <div class="form-group">
            <label for="faculty">Quyền truy cập:</label><br />
            <% listAuths.forEach(val=> { %>
            <input
                type="checkbox"
                id="<%= val.idCategory %>"
                name="<%= val.idCategory %>"
                value="<%= val.auths %>"
            />
            <label for="<%= val.idCategory %>"> <%= val.name %> </label><br />
            <% }) %>
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
</div>
