<h3 class="text-center">Thông tin cá nhân</h3>
<div class="text-center">
    <img
        class="rounded-circle"
        src="<%= profile.picture %>"
        alt=""
        width="100px"
    />
</div>
<% if(locals.mess){ %>
<div class="alert alert-success alert-dismissible text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%= mess %></strong>
</div>
<% } %>
<form id="form-profile" action="/auth/profile" method="POST">
    <div class="form-group">
        <label for="idUser">ID:</label>
        <input
            type="text"
            class="form-control"
            placeholder="Enter idUser"
            id="idUser"
            name="idUser"
            value="<%= profile.idUser %>"
            readonly=""
        />
    </div>

    <div class="form-group">
        <label for="name">Tên:</label>
        <input
            type="text"
            class="form-control"
            placeholder="Enter name"
            id="name"
            value="<%= profile.name %>"
            readonly=""
        />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter email"
            id="email"
            value="<%= profile.email %>"
            readonly=""
        />
    </div>

    <% if(profile.position === 1){ %>
    <div class="form-group">
        <label for="gender">Giới tính</label>
        <% if(profile.gender === 1){ %>
        <select name="gender" id="gender" value="<%= profile.gender %>">
            <option value="1">Nữ</option>
            <option value="0">Nam</option>
        </select>
        <% }else{ %>
        <select name="gender" id="gender" value="<%= profile.gender %>">
            <option value="0">Nam</option>
            <option value="1">Nữ</option>
        </select>
        <% } %>
    </div>

    <div class="form-group">
        <label for="class">Lớp:</label>
        <input
            type="text"
            class="form-control"
            value="<%= profile.classroom %>"
            name="classroom"
            placeholder="Enter class"
            id="classroom"
            required
        />
    </div>

    <div class="form-group">
        <label for="faculty">Khoa:</label>
        <input
            type="text"
            name="faculty"
            class="form-control"
            value="<%= profile.faculty %>"
            placeholder="Enter faculty"
            id="faculty"
            required
        />
    </div>

    <button type="submit" class="btn btn-primary">Thay đổi</button>
    <% } %>
</form>
